*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.first-page{
    height:100vh;
    position:relative;
}

.first-page img {
width: 100%;
height:100%;
position:fixed;
}

.name{
    margin:auto;
    position:absolute;
    left:50%;
    top:50%;
    font-size: 64px;
    color:white;
    background-color: darkslategrey;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:10px;
    outline: 5px solid purple;
    outline-offset: 10px;
}

#img01{
    background-image: url(./bg.jpg);
    background-position:center;
    background-attachment: fixed;
    height:100%;
    background-repeat: no-repeat;
}

.full-stack{
    background-color:#a8a8a879;
    text-align: center;
    padding:15px;
    font-size:40px;
    height: 30%;
    position:absolute;
    top:0;

}

.text1{
    background-color:grey;
    padding-top:15px;
    font-size:64x;
}

.parent-full-stack{
    position:relative;
    height:100vh;
}

#img02{
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    height:100%;
    background-repeat: no-repeat;

}


#clarusway{
  position:absolute;
  /* width:100px; */
  top:70%;
  left:50%;
  transform:translate(-50%, -50%);

}

.text2{
    background-color:grey;
    padding-top:15px;
    font-size:64x;
}
.aws{
    background-color:#a8a8a879;
    text-align: center;
    padding:15px;
    font-size:40px;
    height: 30%;
    position:absolute;
    top:0;
}

#img-03{
    background-image: url(./bg3.jpg);
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    height:100%;
    background-repeat: no-repeat;

}